@font-face { 
  font-family: 'Harabara'; 
  src: 
    url('../styles/Harabara-Mais-Demo.otf') 
    format('opentype'); 
} 

.gi-1_5x{font-size: 1.5em;}
.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.fill {
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
}

body {
  font-size: 12px;  
}

.container {
  padding-left: 5px;
  padding-right: 5px;
  max-width: 730px;
}

h2 {
  font-family: 'verdana';
  font-size: 32px;
  margin-top: 10px;
}

.page-header {
  margin-top: 1px;
  padding-bottom: 1px;  
}

.navbar {
  margin-bottom: 0px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 10px;
  padding-right: 10px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  padding-left: 5px;
  padding-right: 5px;  
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 34px;
  padding-bottom: 15px;
}

.container-narrow > hr {
  margin: 20px 0px;
}

/* FORM */

.control-group {
  margin-bottom: 10px;
}

.controls {
  min-height: 34px;
  max-height: 180px;
}

.checkboxControlParagraph {
  height: 34px;  
}

.input-group-btn {
  height: 34px;  
}

.input-group {
  height: 34px;  
  width: 200px;
}

.bookingCalendar {
  display:inline-block; 
  min-height: 250px;
}

div.angular-google-map-container {
  width: 320px;
  height: 250px
}

div.angular-google-map {
  width: 320px;
}

.bottom-control-group {
  margin-top: 10px;
}

div.tab-content {
  height: 410px;
  margin-top: 10px;
}

.halfPageTab {
  height: 205px;
  margin-top: 10px;  
}

.clearfix-overflowed {
  overflow-y: scroll;
  height: 420px;
}

input {
   border: 1px solid #ccc;
   padding-left: 5px;
   height: 34px;
   width: 200px;
}

textarea {
   border: 1px solid #ccc;
   padding-left: 5px;
   height: 80px;
   width: 200px;
}

.styled-select {   
   height: 29px;
   overflow: hidden;
   width: 200px;
}

.styled-select select {
   background: transparent;
   border: none;
}

.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 200px;
}

.amenitie-styled-select .styled-select {
  float: left;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   height: 34px;
   width: 228px;
}

form.tab-form-demo .tab-pane {
   margin: 20px 20px;
}

.control-label-checkbox {
  float: left;
}

label {
  margin-bottom: 1px;
}

.amenitieLabel {
  margin: 5px;
}

.amenitiesListArea {
  margin-top: 15px;
  clear: both;
}

.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}
/* Two column form */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.column-half, .column-full{
  float: left;
  position: relative;
  padding: 0.65rem;
  height: 55px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.column-half{    
    width: 50%;
  }

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.angular-google-map-container { width: 500px; height: 350px; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
