<div class="container">
    <h2>Property detail</h2>

    <form novalidate="novalidate" class="form-horizontal" ng-controller="PropertyDetailCtrl as pcc">
	    <uib-tabset active="active">
		    <uib-tab index="0"  heading="Description" active="true">
		    	<div ng-form="descriptionForm">
			        <div class="control-group">
			            <label class="control-label" for="inputPropertyName">Name:</label>
			            <div class="controls">
			                <input type="text" id="inputPropertyName" ng-model="property.name"/ required>
			            </div>
			        </div>
			        <div class="control-group">
			            <label class="control-label control-label-checkbox" for="inputPropertyActive">Active:</label>
			            <div class="controls">
			                <input type="checkbox" id="inputPropertyActive" ng-model="property.active"/ required>
			            </div>
			        </div>          
			        <div class="control-group">
			            <label class="control-label" for="inputPropertyType">Type:</label>
			            <div class="styled-select slate">
			                <select id="inputPropertyType" ng-model="property.type" ng-required="true">
						      <option value="ROOM">Room</option>
						      <option value="FLAT">Flat</option>
						      <option value="HOUSE">House</option>
						    </select>
			            </div>
			        </div>  
			        <div class="control-group">
			            <label class="control-label" for="inputPropertyDescription">Description:</label>
			            <div class="controls">
			                <textarea id="inputPropertyDescription" ng-model="property.description"/>
			            </div>
			        </div>
			        <div class="control-group">
			            <label class="control-label" for="inputPropertyNotes">Notes:</label>
			            <div class="controls">
			                <textarea class="input-control" id="inputPropertyNotes" ng-model="property.notes"/>
			            </div>
			        </div> 
		        </div>
		    </uib-tab>
		    <uib-tab index="1" heading="Details" active="false">
		    	<div ng-form="detailsForm">
			        <div class="control-group">
			            <label class="control-label" for="inputPropertyMaxGuest">Max Guests:</label>
			            <div class="controls">
			                <input type="number" id="inputPropertyMaxGuest" ng-model="property.maxGuest"
			                 min="0" max="99"/>
			            </div>
			        </div> 
			        <div class="control-group">
			            <label class="control-label" for="inputPropertyBedrooms">Bedrooms:</label>
			            <div class="controls">
			                <input type="number" id="inputPropertyBedrooms" ng-model="property.bedRooms"
			                min="0" max="99"/>
			            </div>
			        </div> 
			        <div class="control-group">
			            <label class="control-label" for="inputPropertyBathrooms">Bathrooms:</label>
			            <div class="controls">
			                <input type="number" id="inputPropertyBathrooms" ng-model="property.bathRooms"
			                min="0" max="99"/>
			            </div>
			        </div>   
			        <div class="control-group">
			            <label class="control-label" for="inputPropertyBeds">Beds:</label>
			            <div class="controls">
			                <input type="number" id="inputPropertyBeds" ng-model="property.amountOfBed"
			                min="0" max="99"/>
			            </div>
			        </div>               
			        <div class="control-group">
			            <label class="control-label" for="inputPropertyMinStay">Min. Stay:</label>
			            <div class="controls">
			                <input type="number" id="inputPropertyMinStay" ng-model="property.minimumStay"
			                min="0" max="99"/>
			            </div>
			        </div> 
			        <div class="control-group">
			            <label class="control-label" for="inputPropertyMaxStay">Max. Stay:</label>
			            <div class="controls">
			                <input type="number" id="inputPropertyMaxStay" ng-model="property.maximumStay"
			                min="0" max="99"/>
			            </div>
			        </div> 
		        </div>
		    </uib-tab>
		    <uib-tab index="2" heading="Price" active="false">
		    	<div ng-form="priceForm">
			       <div class="control-group">
			            <label class="control-label" for="inputPropertyPricePerNight">Price per night:</label>
			            <div class="controls">
			                <input type="number" id="inputPropertyPricePerNight" ng-model="property.pricePerNight"/>
			            </div>
			        </div>                 
			        <div class="control-group">
			            <label class="control-label" for="inputPropertyCleaningFee">Cleaning Fee:</label>
			            <div class="controls">
			                <input type="number" id="inputPropertyCleaningFee" ng-model="property.cleaningFee"/>
			            </div>
			        </div>         
			        <div class="control-group">
			            <label class="control-label" for="inputPropertyDeposit">Deposit:</label>
			            <div class="controls">
			                <input type="number" id="inputPropertyDeposit" ng-model="property.deposit"/>
			            </div>
			        </div> 
		        </div>
		    </uib-tab>
		    <uib-tab index="3" heading="Location" active="false">
		    	<div ng-form="locationForm"> 
					<uib-accordion>
						<uib-accordion-group heading="Show Address" ng-init="pcc.status1.open = true" is-open="pcc.status1.open" is-disabled="true">
					        <div class="control-group">
					            <label class="control-label" for="inputPropertyStreet">Street:</label>
					            <div class="controls">
					                <input type="text" id="inputPropertyStreet" ng-model="property.streetAddress"/>
					            </div>
					        </div>         
					        <div class="control-group">
					            <label class="control-label" for="inputPropertyPostalCode">Postal Code:</label>
					            <div class="controls">
					                <input type="text" id="inputPropertyPostalCode" ng-model="property.postalCode"/>
					            </div>
					        </div> 
					        <div class="control-group">
					            <label class="control-label" for="inputPropertyCity">City:</label>
					            <div class="controls">
					                <input type="text" id="inputPropertyCity" ng-model="property.city"/>
					            </div>
					        </div> 
					        <div class="control-group">
					            <label class="control-label" for="inputPropertyProvince">Province:</label>
					            <div class="controls">
					                <input type="text" id="inputPropertyProvince" ng-model="property.stateProvince"/>
					            </div>
					        </div>				        
					    </uib-accordion-group>
					    <uib-accordion-group heading="Show Map" ng-init="pcc.status2.open = false" is-open="pcc.status2.open" is-disabled="true">
							<ui-gmap-google-map ng-if="map.showMap" center="map.center" zoom="map.zoom" events="mapEvents" options="mapOptions" bounds="map.bounds"
							ng-cloak>
						        <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id"></ui-gmap-marker>
						    </ui-gmap-google-map>
					    </uib-accordion-group>		    
					</uib-accordion>		    	
		        </div> 
		        <a ng-click="showMap()" class="btn btn-small btn-success" style="float: right">Show Map</a>
		    </uib-tab>
		    <uib-tab index="4" heading="Amenities" active="false">
		    	<span>
		    		<span style="float: left; margin-right: 5px">
		                <label class="control-label" for="inputAmenitieProperty">Add Amenitie:</label>
		                <div class="styled-select slate">
		                    <select id="inputAmenitieProperty" ng-options="o.name for o in amenitieCatalog track by o.id" ng-model="pcc.selectedAmenitie">
		    			    </select>
		                </div>    
	                </span>  
	                <label class="control-label" for="amenitieControls"></label>          
		            <div>       
		            	<a ng-click="updateAmenitieSelection('add', pcc.selectedAmenitie)" class="btn btn-small btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
		            	<a ng-click="updateAmenitieSelection('remove', pcc.selectedAmenitie)" class="btn btn-small btn-primary"><span class="glyphicon glyphicon-minus"></span></a>
		            </div>     
               	</span>	    
	            <div class="amenitiesListArea">
	            	<label ng-disabled="true" ng-repeat="a in propertyAmenitiesList" class="btn btn-small btn-info amenitieLabel">
	            	{{a.name}}</label>
	            </div>
		    </uib-tab>		    
		</uib-tabset>                                          
        <div class="control-group bottom-control-group">
            <div class="controls">
              <!-- user-detail.html: -->
                <a ng-click="cancel()" class="btn btn-small">cancel</a>
                <a ng-click="updateProperty()" class="btn btn-small btn-primary">update Property</a>
            </div>
        </div>
    </form>
</div>    
